<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUEJS!!!</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>


    <!-- <div class="container" id="app" v-cloak>
        <div class="card">
            <h1>{{ title }}</h1>
            <div class="form-control">
                <input type="text" :placeholder="inputPl" v-model="input" @keyup.enter.exact="addTask()">
                <select name="list" id="list" v-model="select" @keypress.enter.prevent>
                    <option value="1">Личное</option>
                    <option value="2">Работа</option>
                    <option value="3">Отдых</option>
                </select>
            </div>
            <button class="btn" @click="addTask()">Добавить</button>
            <hr/>
            <h2 v-if="self.length == 0 && work.length == 0 && otd.length == 0">Задач нет</h2>
            
            <div border="1" v-if="self.length > 0">
                <h2>Личное ({{self.length}})</h2>
                <div class="col" v-for="(task,idx) in self" :key="task">
                    <p class="disIn">{{task}}</p>
                    <div class="kor" @click.right.prevent="deleteTask(1,idx)">X</div>
                </div>
            </div>
            <div border="1" v-if="work.length > 0">
                <h2>Работа ({{work.length}})</h2>
                <div class="col" v-for="(task,idx) in work" :key="task">
                    <p class="disIn">{{task}} </p>
                    <div class="kor" @click.right.prevent="deleteTask(2,idx)">X</div>
                </div>
            </div>
            <div border="1" v-if="otd.length > 0">
                <h2>Отдых ({{otd.length}})</h2>
                <div class="col" v-for="(otd,idx) in otd" :key="task">
                    <p class="disIn">{{task}}</p> 
                    <div class="kor" @click.right.prevent="deleteTask(3,idx)">X</div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container" id="app" v-cloak>
        <div class="card">
            <h1>{{ title }}</h1>
            <div class="form-control">
                <select name="list" id="list" v-model="selectOne" @keypress.enter.prevent v-on:click="calc()">
                    <option value="0" selected disabled>Выберите первую валюту</option>
                    <option value="1">Рубль</option>
                    <option value="2">Доллар</option>
                    <option value="3">Евро</option>
                </select>
                <select name="list" id="list" v-model="selectTwo" @keypress.enter.prevent v-on:click="calc()">
                    <option value="0" selected disabled>Выберите вторую валюту</option>
                    <option value="1">Рубль</option>
                    <option value="2">Доллар</option>
                    <option value="3">Евро</option>
                </select>
                <input type="number" :placeholder="inputPl" v-model="count" v-on:input="calc()">
            </div>
            <button class="btn" @click="addHistory()">Конвертировать</button>
            <div class="total">
                <p v-if="!sogl">Введите разную валюту</p>
                <p v-if="sogl">{{returnTotal}}</p>
            </div>
            <hr/>
            <div class="result">
                <h2>История конвертациЙ:</h2>
                <p v-if="results.length == 0">У вас пока нет конвертаций(</p>
                <p class="card" v-for="item of results">{{item}}</p>
                <button v-if="results.length != 0" class="btn warning" @click.left.prevent="clearHistory()">Очистить историю</button>
            </div>
        </div>
    </div>


<script src="./vue.global.js"></script>
<script src="./app.js"></script>
</body>
</html>